# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# Test Cache
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python
*.egg-info/